body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 150px;
    box-shadow: 3px 4px #eeecf3;
}

.card {
    /* width: 400px; */
    /* margin: 0 auto; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* text-align: center; */
    background: #e07a51;
    color: #eeecf3;
    border-bottom: 6px solid #d8cefe;
    transition: all 0.3s ease;
}

.card:hover {
    animation: orientationChange 1s ease forwards;
}

@keyframes orientationChange {
    from {flex-direction: row; background: #e07a51;}
    to {flex-direction: column; background: rgb(43, 44, 42);}
}

.border-blue {
    border: 1px dotted blue;
}